* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*Adds styling to the header.*/
.header {
    display: flex;
    background: aquamarine;
    padding: 40px;
    align-items: center;
    justify-content: space-between;
}

/*Aligns title to the left and designates the size.*/
h1 {
    font-size: 300%;
}

/*Formats the nav bar*/
nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 400px;
    font-size: 150%;
}

/*Styles the links in the nav bar*/
nav a {
    color: black;
    text-decoration: none;
}

/*Changes the color of the links when hovered over*/
nav a:hover {
    color: white;
}

/*Formats and styles the about me section*/
#about-me {
    display: flex; 
    flex-direction: column;
    border: 5px solid;
    border-bottom: 0;
    background-image: url("../images/underwater-theme-rd9.jpg");
}

/*Formats and styles the heading for the about me section*/
#about-me h2 {
    margin-left: auto;
    margin-right: auto;
    border: 5px solid;
    border-bottom: 0;
    border-top: 0;
    background-color: aqua;
}

/*Formats the image in the about me section*/
#about-me img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 400px;
    width: 400px;
    border: 5px solid;
    border-bottom: 0;
}

/*Formats and styles the paragraph in the about me section*/
#about-me p {
    margin-left: auto;
    margin-right: auto;
    width: 23%;
    border: 5px solid;
    border-bottom: 0;
    background-color: aqua;
}

/*Formats and styles the my work section*/
#my-work {
    display: flex; 
    flex-direction: column;
    border: 5px solid;
    background-image: url("../images/waves.jpg");
}

/*Formats and styles the heading for the my work section*/
#my-work h2 {
    margin-left: auto;
    margin-right: auto;
    border: 5px solid;
    border-top: 0;
    background-color: aqua;
}

/*Formats the image for the module one screenshot*/
.module-one-challenge-screenshot {
    width: 100%;
    border-radius: 0px 0px 50px 50px;
}

/*Formats the place holder images*/
.work-images {
    height: 100%;
    width: 100%;
    border-radius: 0px 0px 50px 50px;
}

/*Styles and formats the cards that likn to my different projects*/
.card {
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: 20px;
    flex: 0 0 300px;
    margin-left: 200px;
    margin-right: 200px;
}

/*Causes a shadow to appear behind the box when the user hovers over it*/
.card:hover {
    box-shadow: 4px 4px 8px 0 black, 0 4px 4px 0 black;
}

/*Styles and formats the headings on the content cards*/
.work-headings {
    display: flex;
    justify-content: center;
    background: aquamarine;
    color: black;
    text-decoration: none;
    padding: 20px;
    border-radius: 50px 50px 0px 0px;
    font-weight: bold;
    font-size: larger;
}

/*causes the links to change color when a user hovers over them*/
.work-headings:hover {
    color: white;
}

/*Styles and formats the contact info section*/
#contact-info {
    text-align: center;
    padding: 80px;
    padding-bottom: 200px;
    background-image: url("../images/beach.jpg");
}

/*styles the email link*/
#email {
    color: black;
    text-decoration: none;
}

/*causes the email link to change color when a user hovers over it*/
#email:hover {
    color: white;
}

/*Turns the nave bar into a column when the window size is changed*/
@media screen and (max-width: 576px) {
    nav ul {
        flex-direction: column;
    }
}